<!DOCTYPE html>
<html>
<head>
<title>Cricket Quiz</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="style.css">
<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src = "Data.js"></script>
</head>
<body ng-app="quiz">
<div >
	<h2 style="text-align:center">Cricket Quiz</h2>
	<form name="myForm" ng-model ="myForm" ng-controller="quizController" ng-submit="submitForm(myForm.$valid)" class="container" novalidate >
		<div class="panel panel-default" ng-repeat="data in data" >
			<p class="panel-heading decorQ" >{{$index + 1}}.{{ data.question }}</p>
			<p class="panel-body decorO">
				<select name="mySelect" class="btn btn-medium" ng-model="opted" required>
					<option>select answer</option>
					<option ng-repeat="option in data.options" >{{option}}</option>
				</select> 
			</p>
		</div>
		<input type="submit" class="btn btn-lg col-xs-6"></input>
		<input type="reset" class="btn btn-lg col-xs-6"></input>
	</form>
</div>
</body>
</html>